/* Mobile Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
	font-weight: bold;
    display: block;
    margin-right: 20px;
}

nav ul li:hover {
    background-color: #ADD8E6;
    border-radius: 3px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.impactImage {
	height: auto;
	width: 100%;
	object-fit: contain;
}	

.flipbookImage {
	height: auto;
	width: 66%;
	object-fit: contain;
}

.image {
	grid-area: image;
}

.text {
	grid-area: text;
}

.menuMap {
	max-width: 100%;
	height: auto;
}

/* Flipbook styles */
.flipbook-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.flipbook {
    width: 50%;
    height: auto;
    position: absolute;
    display: flex;
}

.page {
	display: grid;
	grid-template-areas:
    'image'
	'text';
	gap: 10px;
	padding: 10px;
    width: 50%;
    height: 100%;
    display: flex;
	flex-wrap: wrap;
	font-size: 16px;
    align-items: center;
    justify-content: left;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

/* Impact item styles */
.impact-item {
    margin-bottom: 20px;
}

.description {
    display: none;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
}